<div class = "container">
	<div class="col-6 movie-item">
	   <h3>{{ movie.title }}</h3> 
	   <p>Posted by: {{ movie.user.username }} {{datePosted}} days ago 
	   <p>{{ movie.description }}</p> 
	   <div *ngIf="votes && votes.length > 0; ">
			
			<div *ngFor="let item of votes">
				<div class="p-2" *ngIf="userReacted"> {{reactionStatus}}
				</div>
				<div class="p-2 change-reaction" *ngIf="userReacted" 
				(click)="changeReaction(item.id)">{{undoReaction}} 
				</div>
			</div>
			
		</div>
			<div class ="d-flex justify-content-start bd-highlight mb-3"  >
				<div class="p-2 bd-highlight" >
					<button (click)="onLikeMovie(movie)" >👍 Like ({{ movie.likes }})</button>
					</div>
				<div class="p-2 bd-highlight">|</div>	
				<div class="p-2 bd-highlight" >
					<button (click)="onHateMovie(movie)">👎 Hate ({{ movie.hates }})</button>
					</div>  
					
				</div>
  	</div>
</div>

